* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "manrope";
}
body {
  overflow-x: hidden;
}
lottie-player {
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  mix-blend-mode: luminosity;
  opacity: 1;
}
video {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --gold-color: #beb499;
}

@font-face {
  font-family: "manrope";
  src: url(./fonts/Manrope-Regular.woff);
}
.main_container {
  max-width: 1633px;
}
.main_button {
  width: 223px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.on_air_design svg {
  width: 35px;
  height: 35px;
}
.get_blured {
  width: 100%;
  height: 324px;
  background: #00000085 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  position: fixed;
  top: 132px;
  z-index: 800;
  opacity: 0;
  transition: 0.3s all ease;
}
.get_blured_after {
  top: 80px;
  pointer-events: none;
}

.navigation_dropdown {
  position: fixed;
  top: 132px;
  left: 0;
  height: 324px;
  z-index: 900;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.navigation_dropdown_container ul,
.navigation_dropdown_container li {
  height: unset !important;
}
.dropdown_after {
  top: 80px;
}

.proionta_hover:hover .navigation_dropdown {
  opacity: 1;
  pointer-events: all;
}

.dropdown_active .navigation_dropdown {
  opacity: 1 !important;
}

.navigation_dropdown_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1326px;
  width: 100%;
  inset: 0;
  margin: auto;
  padding: 4rem 4rem 3rem 4rem;
  color: white;
}

.navigation_dropdown li a:hover {
  color: var(--gold-color);
}

.navigation_dropdown_container ul {
  display: flex;
  flex-direction: column;
  align-items: start !important;
  gap: 1rem !important;
}
.navigation_dropdown_container :is(li, li a) {
  border-bottom: none !important;
}

header {
  position: fixed;
  top: 0;
  font-family: "manrope";
  color: white;
  background-color: black;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  height: 131px;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
}

.on_air_design_button:hover {
  color: black;
}
.header_container {
  width: 100%;
}
svg {
  fill: white;
}
.above_nav_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.above_nav_social_contact {
  display: flex;
  font-size: 0.95rem;
}
.above_nav_social ul,
.above_nav_contact ul,
.above_nav_mininav ul {
  display: flex;
}

.navigation a,
.above_nav_mininav a {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-bottom: 1px solid transparent;
}

.navigation li {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.navigation li:hover .dropdown_angle {
  transform: rotate(90deg);
  fill: var(--gold-color);
}
.navigation li svg {
  transition: 0.3s ease all;
}
header li:hover {
  color: var(--gold-color);
}
.navigation,
.above_nav_mininav {
  height: 100%;
}
.navigation ul,
.navigation li,
.above_nav_mininav ul,
.above_nav_mininav li {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.3s ease;
}
.header .above_nav_mininav li {
  border-bottom: 1px solid transparent;
}
.navigation li:hover,
.header .above_nav_mininav li:hover {
  border-bottom: 1px solid var(--gold-color);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  height: 100%;
  max-height: 89px;
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.above_nav_social ul {
  gap: 1rem;
  margin-right: 2rem;
}
.above_nav_contact ul {
  gap: 2rem;
}
.above_nav_mininav ul {
  gap: 3rem;
}
.above_nav_social {
  display: flex;
  align-items: center;
}
.above_nav_social ul li,
.above_nav_social ul li a {
  display: flex;
  align-items: center;
}
.logo {
  border-right: 1px solid rgba(200, 200, 200, 0.5);
}
.logo img {
  height: 100%;
}

.on_air_design_button {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  height: 50px;
  width: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.index_section_1_container a {
  border: 1px solid white;
}

.index_section_1_container a:hover {
  border: 1px solid var(--gold-color);
  background-color: var(--gold-color);
}
.index_section_1_container video {
  height: auto;
}
.index_section_1_container {
  height: calc(100dvh - 133px);

  overflow: hidden;
}
.index_section_1 {
  font-family: "manrope";
  position: relative;
  color: white;
  background-color: black;
  height: calc(100dvh - 133px);
  padding-top: 133px;
}
.index_section_1_main_container {
  background: transparent linear-gradient(0deg, #0000009e 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index_section_1_main_container div {
  color: var(--gold-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 9.6px;
}
.index_section_1_main_container p {
  margin-bottom: 4.3rem;
}
.index_section_1_main_container h1 {
  letter-spacing: -2px;
  font-size: 3.125rem;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.index_section_1_main_container :is(h1, p, a) {
  margin-left: 9rem;
}
.index_section_1 .swiper-horizontal .swiper-pagination {
  justify-content: flex-start;
  align-items: start;
  top: 10px;
  text-align: start;
}
.mySwiper_0 .swiper-pagination-bullet {
  margin-bottom: 1.5rem !important;
  color: white !important;
  opacity: 1;
  background-color: white !important;
}
.mySwiper_0 .swiper-pagination-bullet-active {
  color: var(--gold-color) !important;
}

/* -----------section_1------------- */

.swiper-pagination-bullets {
  right: 0 !important;
  top: 0 !important;
  transform: none !important;
  left: -2.5rem;
}

.swiper_cont {
  position: relative;
  margin-left: 9rem;
}
.index_section_1_main_container a {
  border: 1px solid white;
}
.index_section_1 a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
}

.mySwiper_0 .swiper-pagination-bullet {
  width: 0.7rem !important;
  height: 0.7rem !important;
}
.mySwiper_0 .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--gold-color) !important;
  position: relative !important;
}

.mySwiper_0 .swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  top: -7px;
  left: -7px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--gold-color);
}
.index_section_2 {
  margin-bottom: 4.6rem;
}
.index_section_2_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index_section_2_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_2_img img {
  width: 100%;
  height: auto;
}
.section_2_img {
  position: relative;
}
.section_2_img::after {
  position: absolute;
  content: "";
  background: transparent linear-gradient(90deg, #ffffff00 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  z-index: 100;

  inset: 0;
  opacity: 1;
}

.index_section_3 {
  display: flex;
  justify-content: center;
}
.index_section_3_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.index_section_3_container img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.index_section_2_main {
  font-family: "manrope";
}
.index_section_2_main div {
  color: var(--gold-color);
  font-size: 1rem;
  letter-spacing: 9.6px;
}

.index_section_2_main h2 {
  font-size: 2.125rem;
  letter-spacing: -1.36px;
  margin-bottom: 1.5rem;
}
.index_section_2_main p {
  color: #878787;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
.index_section_2_main a {
  border: 1px solid black;
  margin-top: 3.4rem;
}
.index_section_2_main a:hover {
  background-color: black;
  color: white;
}

.index_section_4 {
  margin-top: 4.5rem;
  font-family: "manrope";
  background: transparent linear-gradient(0deg, #000000 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
  position: relative;
  padding: 0 1rem;
}
.index_section_4_pattern {
  position: absolute;
  height: 100%;
  max-height: 830px;
  width: 100%;
}
.index_section_4_pattern img {
  width: 100%;
  height: 100%;
}
.index_section_4_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.5rem;
}
.index_section_4_intro h3 {
  text-align: center;
  font-size: 2.125rem;
  letter-spacing: -1.36px;
  line-height: 50px;
  color: white;
  font-weight: 400;
  margin-bottom: 4.2rem;
}
.mySwiper_1 .swiper {
  width: 100%;
}
.mySwiper_1 {
  width: 90%;
}
.mySwiper_1 .swiper-slide .wrap {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  z-index: 3;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.index_section_4_intro div {
  color: var(--gold-color);
  letter-spacing: 9.6px;
  font-weight: bold;
}
.section_4_button {
  display: flex;
  justify-content: center;
  margin-top: 4.2rem;
  padding-bottom: 3.5rem;
}
.section_4_button a {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  position: relative;
  z-index: 100;
}
.section_4_button a:hover {
  border-color: var(--gold-color);
  background-color: var(--gold-color);
  color: white;
}

.mySwiper_1 .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 7px !important;
}

.mySwiper_1 .swiper-slide h4 {
  position: absolute;
  bottom: 1.5rem;
  color: white;
  z-index: 1;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all 0.3s ease;
  letter-spacing: -0.4px;
}
.hidden_h4 {
  position: absolute;
  bottom: 1.5rem;
  color: white;
  z-index: 1;
  font-weight: 400;
  letter-spacing: -0.3px;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}
.mySwiper_1 .swiper-slide .wrap::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 20%;
  width: 100%;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 60%) 0%
    0% no-repeat padding-box;

  transition: all 0.3s ease;
}
.mySwiper_1 .swiper-slide:hover h4 {
  transform: translateY(-1.4rem);
}
.mySwiper_1 .swiper-slide:hover .hidden_h4 {
  opacity: 1;
}
.mySwiper_1 .swiper-slide .wrap:hover::after {
  height: 40%;
}

.mySwiper_1 .swiper-slide img {
  transition: 0.3s all ease-out;
  width: 100%;
}
.mySwiper_1 .swiper-slide:hover img {
  transform: scale(1.1);
}
.mySwiper_1 .wrap {
  overflow: hidden;
}

/* -------------section_5-------------- */
.index_section_5 {
  padding-bottom: 14rem;
  padding-top: 9.5rem;
  font-family: "manrope";
  display: flex;
  justify-content: center;
}
.index_section_5_intro div {
  color: var(--gold-color);
  font-weight: bold;
}
.index_section_5_intro h5 {
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: normal;
}
.index_section_5_main {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.index_section_5_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  place-content: center;
}
.index_section_5_grid .shop_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
}
.index_section_5_grid .shop_box_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 377px;
  height: 234px;
}
.index_section_5_grid .shop_box:hover {
  box-shadow: 0px 3px 15px #00000029;
}
.index_section_5_grid .shop_box h6 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #151617;
}
.index_section_5_grid .shop_box p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #151617;
  margin-top: 0.4rem;
}
.index_section_5_grid .shop_box span {
  font-weight: bold;
}
.index_section_5_grid .address {
  margin-bottom: 0.2rem;
}

.index_section_5_grid .shop_box img {
  width: 53px;
  height: 55px;
  margin-bottom: 0.5rem;
}

/* ---------section_6--------- */

.section_6_black_stripe {
  height: 500px;
  width: 100%;
  background-color: black;
  position: relative;
}

.index_section_6 {
  overflow: hidden;
  top: 20%;
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  font-family: "manrope";
  padding: 0 2rem;
}

.mySwiper_2 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 532px;
  max-height: 372px;
  position: relative;
  border-radius: 7px;
}
.mySwiper_2 .section_6_box_main {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.9rem;
  padding-top: 9rem;
  display: flex;
  align-items: center;
  z-index: 30;
  width: 100%;
  justify-content: space-between;
}

.mySwiper_2 .section_6_box_main ::after {
  width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background: transparent linear-gradient(182deg, #00000000 38%, #000000 100%)
    0% 0% no-repeat padding-box;
  z-index: -1;
  border-radius: 0 0 7px 7px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  top: 0 !important;
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
}
.swiper-button-prev::after,
.swiper-rtl,
.swiper-button-next::after {
  font-size: 0.8rem !important;
  font-weight: 900;
  color: white;
}

.section_6_wrapper {
  display: flex;
  justify-content: center;
}
.index_section_6_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons_prev_next {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 1.2rem;
}
.swiper_buttons_wrapper {
  margin-bottom: 1.5rem;
}
.swiper_buttons_wrapper a {
  color: white;
  border: 1px solid white;
}
.section_6_title div {
  color: var(--gold-color);
  font-size: 1rem;
  letter-spacing: 9.6px;
}
.section_6_title h6 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.mySwiper_2 .swiper-slide {
  position: relative;
}
/* .mySwiper_2 .swiper-slide::after {
  width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background: transparent linear-gradient(182deg, #00000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  border-radius: 7px;
} */

.section_6_box_main a {
  border: 1px solid white;
  margin-right: 3rem;
  position: relative;
  font-weight: bold;
}
.section_6_box_main a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
}
.section_6_box_title {
  padding-left: 3rem;
}

.section_6_box_title div {
  color: var(--gold-color);
  font-size: 0.8rem;
  letter-spacing: 7.8px;
}

.section_6_box_title p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.mySwiper_2 .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

/* ------------section7--------------- */

.index_section_7 svg {
  fill: black;
}
.index_section_7 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.index_section_7 {
  margin-top: 22rem;
  font-family: "manrope";
  display: flex;
  justify-content: center;
}
.index_section_7_container {
  display: flex;
  gap: 4.3rem;
}
.section_7_intro {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.section_7_intro div {
  color: var(--gold-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 9.6px;
}
.section_7_intro h6 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.section_7_intro p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #808080;
  line-height: 24px;
}
.section_7_intro a {
  margin-top: 4rem;
  border: 1px solid black;
  font-weight: bold;
}
.section_7_intro a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
  color: white;
}

.section_7_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.section_7_grid_box {
  height: 486px;
  width: 398px;
  border-radius: 7px;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section_7_grid_box_main {
  padding: 0 0.2rem;
}
.section_7_grid_box_main div {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.section_7_grid_box_main p {
  color: #808080;
  font-size: 0.875rem;
  line-height: 20px;
  margin-top: 1rem;
}

.section_7_grid_box a {
  font-size: 0.75rem;
  font-weight: bold;
  max-width: 358px;
  width: 100%;
}

.section_7_grid_box_container {
  width: 368px;
}

/* ------------section 8--------------- */
.index_section_8 {
  margin-bottom: 28.8rem;
  font-family: "manrope";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
  text-align: center;
}
.index_section_8_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.index_section_8_container div:first-child {
  color: var(--gold-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 9.6px;
}
.index_section_8_container div:last-child {
  font-size: 2.125rem;
  letter-spacing: -1.36px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.index_section_8 a {
  border: 1px solid black;
  width: 319px;
  margin-top: 4.8rem;
}
.index_section_8 a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
  color: white;
}

/* ---------section 9----------- */

.index_section_9 {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  top: -13rem;
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: "manrope";
  /* height: 278px; */
  background: transparent linear-gradient(271deg, #ffffffed 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
}
.index_section_9 .background-img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}
.section_9_right img {
  width: 278px;
  height: 260px;
  border-radius: 5px;
}
.index_section_9_container {
  display: flex;
  border-radius: 5px;

  position: relative;
}

.section_9_left {
  padding: 3.8rem 440px 2.9rem 5.5rem;
  color: black;
}
.section_9_right {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6.4rem;
  background: transparent url("img/konstantaras_logo.png") 0% 0% no-repeat
    padding-box;
  mix-blend-mode: exclusion;
}

.section_9_left div:first-child {
  color: var(--gold-color);
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 8.4px;
  margin-bottom: 0.2rem;
}
.section_9_left div:nth-child(2) {
  font-size: 2.125rem;
}

.section_9_left p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
.section_9_left a {
  border: 1px solid black;
  margin-top: 2.3rem;
}

/* --------footer---------- */

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "manrope";
  position: relative;
  z-index: 0;
}
.mess-top {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 1.2rem;
}
.arrow-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back_to_top_arrow {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  transition: all 0.3s ease;
}
.back_to_top {
  writing-mode: vertical-lr;
  margin-bottom: 7rem;
  font-size: 1.5rem;
  transform: rotate(180deg);
  transition: all 0.3s ease;
  margin: 0 auto 3rem;
}
/* .back_to_top {
  position: absolute;
  right: 2.5rem;
  bottom: 5.5rem;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 2.06rem;
  font-weight: 100;
  transition: all 0.3s ease;
} */

.go_top:hover .back_to_top {
  letter-spacing: 3.3px;
}

.messenger svg {
  width: 39px;
  height: 39px;
}
.messenger svg:hover {
  fill: #00b2ff;
}
/* .back_to_top_arrow {
  position: absolute;
  right: 2.5rem;
  bottom: 18rem;
  right: 5px;
  transition: all 0.3s ease;
} */

.go_top:hover .back_to_top_arrow {
  transform: translateY(-20px);
}
.back_to_top_arrow img {
  height: 110px;
}

footer li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer li a:hover {
  color: var(--gold-color);
}
.footer_container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-top: 8.3rem;
  width: 85%;
}
.footer_grid_top,
.footer_grid_bottom {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}
.footer_grid_bottom {
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  padding-top: 2rem;
  margin-top: 3.5rem;
  padding-bottom: 5.8rem;
}
.footer_grid_top ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_grid_bottom ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.875rem;
}

.footer_container .column_title {
  color: var(--gold-color);
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.central_facilities {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.06rem;
}
.central_location {
  margin-bottom: 1rem;
  font-size: 0.94rem;
}
.footer_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer_footer .copyright {
  font-weight: bold;
  font-size: 0.8rem;
}
.footer_footer_right .designed_by {
  font-size: 0.8rem;
  font-weight: bold;
}
.newsletter_column .column_title {
  margin: 0;
}
.newsletter_column p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.newsletter_column {
  display: flex;
  flex-direction: column;
}

.newsletter_column input {
  max-width: 360px;
  width: calc(100% - 2rem);
  padding: 0.5rem 0 0.5rem 2rem;
  background-color: black;
  color: rgba(200, 200, 200, 0.5);
  border: none;
  border-bottom: 1px solid rgba(240, 240, 240, 0.8);
  margin-bottom: 3rem;
}
.newsletter_column input::placeholder {
  font-size: 0.8rem;
}
.newsletter_column input:focus {
  color: white;
}

.newsletter_column button {
  width: 139px;
  height: 36px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
}
.newsletter_column button:hover {
  background-color: var(--gold-color);
  border: var(--gold-color);
}

footer li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input_icon {
  position: relative;
}
.input_icon svg {
  position: absolute;
  left: 3px;
  top: 10px;
}
.social_column svg {
  width: 21px;
  height: 21px;
}

.mySwiper_0 {
  width: 100%;
  height: 100%;
}
.newsletter_column button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* -------products_section_1---------- */

.products_section_1_2 {
  position: relative;
}
.products_section_1 {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 380px;
  font-family: "manrope";
  padding-top: 10rem;
  width: 100%;
}

.products_section_1_container {
  max-width: 1641px;
  width: 100%;
  padding-left: 0.5rem;
}
.products_section_1_navigation {
  margin-top: 2.6rem;
}
.products_section_1_navigation ul {
  display: flex;
  gap: 0.3rem;
  font-size: 0.94rem;
}
.products_section_1_navigation ul li:nth-child(2) {
  color: var(--gold-color);
}
.products_section_1 h1 {
  color: var(--gold-color);
  font-size: 1.875rem;
  letter-spacing: -1.24px;
  margin-bottom: 2rem;
}
.products_section_1 p {
  font-size: 1.05rem;
  letter-spacing: -0.68px;
}

.products_section_2 {
  font-family: "manrope";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 12rem;
  margin-top: -11rem;
}

.products_section_2_container {
  max-width: 1640px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}

.products_section_2_box {
  position: relative;
  cursor: pointer;
}

.products_section_2_container img {
  width: 100%;
  height: 100%;
}

.products_section_2_box .box_title {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 3.8rem;
  padding-bottom: 2.8rem;
  border-radius: 0 0 7px 7px;
  width: 100%;
}
.products_section_2_box .box_title h2 {
  font-size: 1.375rem;
  letter-spacing: -0.44px;
  font-weight: 400;
  z-index: 10;
}

.products_section_2_box .box_title::after {
  content: "";
  position: absolute;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 90%) 0%
    0% no-repeat padding-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 7px 7px;
  transition: all 0.3s ease;
}
.products_section_2_container .box_title h3 {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 0.875rem;
  bottom: 3rem;
  transition: all 0.3s ease;
  opacity: 0;
  font-weight: 400;
}

.products_section_2_box:hover .box_title h3 {
  bottom: 1.2rem;
  opacity: 1;
}

.products_section_2_box:hover .box_title::after {
  padding-top: 5rem;
}

/* 
-------------single_product-------------- */
.single_product {
  font-family: "manrope";
}
.single_product_left {
  max-width: 605px;
  max-height: 514px;
}
.single_product_section_1 {
  background: #000000 0% 0% no-repeat padding-box;
  color: white;
  position: relative;
  padding-top: 131px;
  overflow-x: hidden;
}

.blury_o_1,
.blury_o_2 {
  position: absolute;
  width: 329px;
  height: 329px;
  background-color: #beb499a6;
  border-radius: 50%;
  opacity: 0.34;
  filter: blur(50px);
}
.blury_o_1 {
  bottom: 8rem;
  left: -5rem;
}
.blury_o_2 {
  right: -5rem;
  top: 5rem;
}

.single_product_section_1_container {
  display: flex;
  gap: 5.5rem;
  max-width: 1641px;
  width: 100%;
  border-bottom: 1px solid var(--gold-color);
  padding-bottom: 5rem;
  margin-bottom: 16rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.single_product_section_1_wrapper {
  display: flex;
  justify-content: center;
}

.single_product .mySwiper_4 img {
  aspect-ratio: 605/400;
  border-radius: 7px;
}

.single_product .mySwiper_4 .swiper-slide {
  position: relative;
}

.single_product .mySwiper_4 .swiper-slide img {
  filter: brightness(0.4);
  aspect-ratio: 148/87;
}
.single_product .mySwiper_4 .swiper-slide-thumb-active img {
  filter: brightness(1.2);
}
.mySwiper_3 .swiper-wrapper {
  aspect-ratio: 604/411;
}
.single_product .mySwiper_3 img {
  aspect-ratio: 604/411;
  border-radius: 7px;
  width: 100%;
}
.single_product .mySwiper_3 .swiper-slide {
  width: 604px;
  max-height: 411px;
}
.single_product .swiper-wrapper {
  width: 604px;
}
.single_product .mySwiper_3 {
  max-height: 411px;
  margin-bottom: 1rem;
}
.single_product .mySwiper_4 .swiper-slide img {
  width: 100%;
}

.single_product .swiper-button-next-product,
.single_product .swiper-button-prev-product {
  background-color: transparent !important ;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  width: 80px !important;
}
.single_product .swiper-button-prev-product {
  left: 0;
}

.single_product_left_intro {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.single_product .single_product_left_intro_container {
  max-width: 1641px;
  width: 100%;
}

.single_product_right h3 {
  font-size: 2.44rem;
  color: var(--gold-color);
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1;
}

.single_product_right .product_description a {
  color: var(--gold-color);
  font-size: 1.25rem;
  text-decoration: underline;
}
.single_product .product_info {
  margin-top: 1rem;
}
.single_product .product_info a {
  color: var(--gold-color);
  font-size: 1.25rem;
  text-decoration: underline;
}

.single_product_right_paragraphs p:first-child {
  margin-top: 1rem;
}

.single_product_right_paragraphs p {
  margin-top: 2rem;
  font-size: 0.937rem;
  line-height: 30px;
}

.single_product .product_info span,
.single_product .boufe span {
  color: var(--gold-color);
}

.single_product .product_info {
  margin-bottom: 2rem;
}

.single_product .interested_link {
  display: flex;
  margin-top: 2.05rem;
  align-items: center;
  text-align: center;
}
.single_product .interested_link a {
  background-color: black;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  padding: 1rem 3rem;
  border-radius: 50px;
}

.facebook_icon:hover svg {
  fill: #4267b2;
}
.facebook_icon:hover {
  color: #4267b2;
}
.twitter_icon:hover {
  color: #1da1f2;
}
.twitter_icon:hover svg {
  fill: #1da1f2;
}
.single_product .interested_link a:hover {
  background: transparent linear-gradient(180deg, #beb499 0%, #a7a5a2 100%) 0%
    0% no-repeat padding-box;
  border-color: #beb499;
}

.single_product .boufe a {
  text-decoration: underline;
}

.single_product_section_1 h1 {
  color: var(--gold-color);
}

.products_section_2_header {
  color: var(--gold-color);
  z-index: 10;
  margin-bottom: 2rem;
  font-size: 1.875rem;
  font-weight: bold;
}
.products_html .footer_container {
  padding-top: 0;
}
.products_html footer .products_section_1_navigation {
  margin-bottom: 8rem;
}
.header {
  height: 80px;
  background: #00000085 0% 0% no-repeat padding-box;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
}

.header .above_nav_info {
  display: none;
}

.header nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}
.header .header_container {
  padding: 0 2rem;
}

.header .on_air_design {
  gap: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
  opacity: 0;
}
.header .above_nav_mininav {
  align-items: center;
  display: flex;
}
.header .hidden {
  opacity: 1;
}

.burger_menu {
  height: calc(100dvh - 80px);
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  padding-left: 5rem;
  padding-top: calc(80px + 4rem);
  z-index: 500;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
  background: #0000005c 0% 0% no-repeat padding-box;
  opacity: 1;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(30px);
}
.burger_menu .above_nav_social_contact {
  padding-bottom: 5rem;
}
.burger_active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.burger_menu_main {
  margin-top: 5rem;
}
.burger_menu_header ul li,
.burger_menu_main ul li {
  margin-bottom: 1rem;
}
.open_burger {
  display: none;
  transition: 0.3s all ease;
  cursor: pointer;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index: 2;
}

.open_burger span,
.open_burger span:before,
.open_burger span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
.open_burger span:before,
.open_burger span:after {
  content: "";
}

.open_burger span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
.open_burger span {
  right: 0px;
  top: 13px;
  width: 27px;
}
.open_burger span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}

.on_air_design .toggle_burger span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
.on_air_design .toggle_burger span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
.on_air_design .toggle_burger span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

.hide_overflow {
  overflow: hidden;
}

.burger_menu_main .on_air_design_button {
  width: 170px;
  height: 30px;
  margin-top: 5rem;
}
.burger_menu_wrapper {
  font-size: 130%;
}
@media only screen and (max-width: 1700px) {
  .index_section_8_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .index_section_7_container {
    display: block;
  }
  .section_7_intro {
    max-width: 100%;
    align-items: center;
  }
  .index_section_5_main img {
    padding-right: 2.5rem;
  }
  /* .mySwiper_1 {
    max-width: 1490px;
  } */
  .index_section_5_intro {
    padding: 0 2rem;
  }
  .section_9_left {
    padding: 3.8rem 300px 2.9rem 5.5rem;
  }
  .footer_container {
    padding-top: 11.3rem;
  }

  .products_section_1_container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .products_section_2 {
    padding: 0 2rem;
  }
  .section_6_box_main a {
    margin-right: 1.5rem;
  }
  .section_6_box_title {
    padding-left: 1.5rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 1560px) {
  .index_html,
  .products_html header,
  .single_product header {
    font-size: 80%;
  }
  .on_air_design_button {
    width: 200px;
    height: 35px;
  }

  /* .mySwiper_1 {
    max-width: 1190px;
  } */
  .products_section_2_container {
    row-gap: 1.5rem;
    column-gap: 1rem;
  }
  .single_product_section_1_container {
    gap: 3rem;
  }
  .index_section_2_main a {
    margin-top: 1rem;
  }
  .index_section_2_main p {
    margin-bottom: 0.5rem;
  }
  .index_section_9 {
    top: -10rem;
  }
  .section_9_left {
    padding: 2rem 150px 1.5rem 3rem;
  }
  .section_9_right {
    margin-right: 2rem;
  }
  .mess-top {
    right: 0;
  }
}
@media only screen and (max-width: 1500px) {
  .index_section_5_main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .index_section_5_main img {
    transform: scale(1.3);
    margin-bottom: 10rem;
    padding: 0;
  }
  .shop_box_main img {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1460px) {
  .index_section_2_container {
    grid-template-columns: 1fr;
    position: relative;
  }
  .index_section_2_main {
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 100;
    right: 3rem;
  }
  .section_2_img::after {
    background: transparent linear-gradient(0deg, #ffffff00 -150%, #ffffff 79%)
      0% 0% no-repeat padding-box;
  }
  .index_section_2_main p {
    margin-bottom: 1rem;
  }
  .index_section_2_main a {
    margin-top: 3rem;
  }
  .index_section_7 {
    margin-top: 15rem;
  }
  .index_section_8 {
    margin-top: 23rem;
  }
  .index_section_8 {
    margin-top: 10rem;
    margin-bottom: 23rem;
  }
  .index_section_6 {
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 1330px) {
  .section_9_left {
    padding: 2rem 100px 1rem 2rem;
  }
  .section_9_right {
    margin-right: 2rem;
  }
  .section_9_right img {
    width: 100%;
    height: auto;
  }
  .index_section_9 {
    margin: 0 2rem;
  }
  .section_7_grid_box {
    width: 385px;
  }
  .index_section_2_main a {
    margin-top: 2rem;
  }
  .products_section_2 {
    margin-bottom: 8rem;
  }
  .single_product_section_1_container {
    flex-direction: column;
  }
  .navigation ul,
  .above_nav_mininav ul {
    gap: 1.5rem;
  }
  .section_7_grid {
    grid-template-columns: 1fr 1fr;
  }
  .back_to_top_arrow img {
    height: 70px;
  }
  .back_to_top {
    font-size: 1.3rem;
  }
  .back_to_top_arrow {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 1180px) {
  .footer_grid_top,
  .footer_grid_bottom {
    grid-template-columns: repeat(2, 1fr);
  }
  .social_column,
  .newsletter_column {
    margin-top: 4rem;
  }
  .footer_grid_bottom .footer_column {
    margin-bottom: 10px;
  }
  .back_to_top_arrow {
    bottom: 20rem;
  }
  .back_to_top {
    bottom: 12.5rem;
  }

  .section_6_box_main a {
    width: 180px;
  }
  .newsletter_column input {
    margin-bottom: 2rem;
  }
  .index_section_5_main img {
    width: 100%;
    max-width: 30rem;
    height: auto;
  }
}

@media only screen and (max-width: 1140px) {
  .mess-top {
    bottom: 8rem;
  }

  .header_container .above_nav_info,
  .navigation,
  .on_air_design a {
    display: none;
  }
  nav {
    max-height: 100%;
    justify-content: flex-end;
  }

  .on_air_design .open_burger {
    visibility: visible;
    opacity: 1;
    display: block;
    transform: scale(1);
  }
  header {
    height: 80px;
  }
  .section_9_right {
    margin-right: 0;
  }
  .section_9_left {
    padding: 1.5rem 20px 1rem 2rem;
  }
  .products_html .box_title h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1080px) {
  .index_section_6 {
    padding: 0 2rem;
  }
  html {
    font-size: 95%;
  }
  /* .swiper_cont {
    display: flex;
    flex-direction: column;
  } */
  .index_section_1 .swiper-horizontal .swiper-pagination {
    margin-left: 16rem;
  }
  .mySwiper_0 .swiper-pagination-horizontal .swiper-pagination-bullet {
    margin-bottom: 0 !important;
    margin-right: 0.7rem !important;
  }
  .products_section_2_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 960px) {
  .products_section_2_box:hover .box_title h3 {
    bottom: 1.2rem;
    opacity: 1;
  }
  .index_section_5_grid {
    gap: 1rem;
  }

  .index_section_8_grid {
    grid-template-columns: 1fr 1fr;
  }
  .index_section_8_container {
    padding: 0 2rem;
  }
  .index_section_6_header {
    display: block;
  }
  .index_section_6_header .swiper_buttons_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .mySwiper_2 :is(.section_6_box_main, .swiper-slide img) {
    max-width: 500px;
  }
  .index_section_2_main {
    inset: 0;
    margin: auto;
    padding: 0 2rem;
  }
  /* .mySwiper_1 {
    max-width: 771px;
  } */
  .index_section_7 {
    margin-top: 18rem;
  }
  .section_7_intro a {
    margin-top: 2rem;
  }
  .index_section_5 {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }
  .index_section_6 {
    top: 15%;
  }
  .section_7_intro {
    padding-bottom: 3rem;
  }
  .index_section_8 {
    margin-bottom: 18rem;
  }
  .index_section_8 a {
    margin-top: 2rem;
  }
  .index_section_5_main {
    align-items: center;
    padding: 0 2rem;
    margin-top: 4rem;
  }
  .index_section_5 img {
    transform: scale(1);
    margin-bottom: 2rem;
  }

  .index_section_5_grid .shop_box {
    box-shadow: 0px 3px 15px #00000029;
    max-width: 410px;
    width: 93%;
    height: auto;
    padding: 0.7rem 1rem;
  }
  .index_section_1_main_container h1 {
    font-size: 2.5rem;
  }
  .index_section_5_grid .shop_box_container {
    max-width: 377px;
    width: 100%;
  }
}

@media only screen and (max-width: 890px) {
  .index_section_5_grid {
    grid-template-columns: 1fr;
  }

  .index_section_5_intro h5 {
    font-size: 1.2rem;
    line-height: 30px;
  }
  .index_section_1_main_container :is(h1, p, a) {
    margin-left: 6rem;
  }
  .swiper_cont {
    margin-left: 6rem;
  }
}

@media only screen and (max-width: 800px) {
  .section_7_grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
  /* .mySwiper_1 {
    max-width: 585px;
  } */
  .index_section_2_main p {
    margin-bottom: 0.5rem;
  }
  .index_section_5_main {
    align-items: center;
  }
  .section_2_img img {
    width: unset !important;
  }
}

@media only screen and (max-width: 700px) {
  .index_section_5_grid :is(.shop_box:nth-child(2), .shop_box:nth-child(4)) {
    margin-left: 0;
  }
  .index_section_5_grid {
    gap: 2rem;
  }
  .single_product .mySwiper_3 img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 640px) {
  .single_product_section_1_wrapper {
    padding: 0 2rem;
  }
  .section_8_grid_box {
    transform: scale(0.9);
  }
  .index_section_8 {
    align-items: unset !important;
  }
  .index_section_8 a {
    margin: auto;
    margin-top: 3rem;
  }
  .index_section_8_grid {
    display: flex;
    overflow: auto !important;
    white-space: nowrap;
    max-width: calc(100% - 1.5rem);
    gap: 0;
  }
  .section_8_grid_container {
    display: flex;
    justify-content: center;
  }

  .footer_grid_top {
    grid-template-columns: 1fr;
  }
  .footer_grid_top .footer_column {
    margin-top: 4rem;
  }
  .section_9_right {
    display: none;
  }
  .section_9_left div:nth-child(2) {
    font-size: 1.8rem;
  }
  .footer_footer {
    flex-direction: column;
    gap: 1rem;
  }

  .products_section_2_container {
    grid-template-columns: 1fr;
  }
  .products_section_1 {
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  .mess-top {
    bottom: 1.5rem;
  }
}

@media only screen and (max-width: 585px) {
  .index_section_3_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .section_7_intro {
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .index_section_1_main_container :is(h1, p, a) {
    margin-left: 3rem;
  }
  .swiper_cont {
    margin-left: 3rem;
  }
  .main_button {
    height: 45px;
  }
}

@media only screen and (max-width: 480px) {
  .footer_grid_bottom {
    grid-template-columns: 1fr;
  }
  html {
    font-size: 90%;
  }
  .index_section_1_main_container h1 {
    line-height: 45px;
    margin-top: 0.5rem;
  }
  .index_section_4_intro h3 {
    line-height: 40px;
  }
  .products_section_2_header {
    font-size: 1.3rem;
  }
  .index_section_7 {
    margin-top: 15rem;
  }
  .back_to_top {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 420px) {
  .products_section_2 {
    padding: 0 1rem;
  }
  .products_section_1_container {
    padding: 0 1rem;
  }
  html {
    font-size: 75%;
  }
  .back_to_top {
    font-size: 1.5rem;
  }

  .products_section_1 {
    height: 300px;
  }
  .index_section_6 {
    padding: 0 1rem;
  }
  .section_6_black_stripe {
    height: 390px;
  }
  .index_section_5_grid .shop_box_container {
    height: 188px;
  }
  .index_section_5_grid .shop_box p {
    line-height: 18px;
  }
  .index_section_5_main {
    padding: 0 1rem;
  }

  .section_7_grid_box {
    max-width: 300px;
    width: 100%;
    height: 385px;
  }
  .section_7_grid_box_container {
    max-width: 280px;
    width: 100%;
  }
  .section_7_grid_box a {
    max-width: 280px;
  }
  .section_7_grid_box_container img {
    width: 100%;
  }
  .index_section_1 .swiper-horizontal .swiper-pagination {
    margin-left: 18rem;
  }
  .mySwiper_0 .swiper-pagination-bullet-active::after {
    top: -6px;
    left: -6px;
  }
  .index_section_1_main_container div {
    letter-spacing: 8.5px;
  }
  .index_section_1_main_container p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 350px) {
  html {
    font-size: 75%;
  }
  .index_section_5_intro h5 {
    line-height: 25px;
  }
  .index_section_1_main_container :is(h1, p, a) {
    margin-left: 1.5rem;
  }
  .swiper_cont {
    margin-left: 1.5rem;
  }
  .index_section_8 a {
    width: 250px;
  }
  .index_section_8_grid {
    max-width: calc(100% - 1rem);
  }
  .burger_menu {
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 282px) {
  html {
    font-size: 65%;
  }
  .index_section_8_grid {
    max-width: calc(100% - 1.5rem);
  }
  .section_7_grid_box {
    max-width: 255px;
  }
  .section_7_grid_box_container {
    max-width: 235px;
  }
  .section_7_grid_box a {
    max-width: 235px;
  }
  .section_7_grid_box {
    height: 350px;
  }
  .mySwiper_2 .section_6_box_main ::after {
    background: transparent linear-gradient(182deg, #00000000 50%, #000000 100%)
      0% 0% no-repeat padding-box;
  }
  .index_section_7 {
    margin-top: 10rem;
  }
  .index_section_5_intro h5 {
    line-height: 20px;
    margin-top: 0.5rem;
  }
  .index_section_4_intro h3 {
    line-height: 30px;
    margin-top: 0.5rem;
  }
  .index_section_1_main_container h1 {
    line-height: 40px;
  }
  .mySwiper_0 .swiper-pagination-bullet-active::after {
    width: 1.4rem;
    height: 1.4rem;
    top: -5px;
    left: -5px;
  }
  .main_button {
    height: 35px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
  }
  .mess-top {
    bottom: 10rem;
  }
}
