* {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
:root {
  --gold-color: #beb499;
}
@font-face {
  font-family: "manrope";
  src: url(./fonts/Manrope-Regular.woff);
}
.main_container {
  max-width: 1633px;
}
.main_button {
  width: 223px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial_header {
  background-color: black;
}
.header_transform {
  background-color: red;
}

header {
  font-family: "manrope";
  color: white;
  background-color: black;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  height: 131px;
  position: sticky;
  top: 0;
  z-index: 999;
}
header a:hover {
  color: var(--gold-color);
}
.on_air_design a:hover {
  color: black;
}
.header_container {
  width: 100%;
}
svg {
  fill: white;
}
.above_nav_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}
.above_nav_social_contact {
  display: flex;
  font-size: 0.95rem;
}
.above_nav_social ul,
.above_nav_contact ul,
.above_nav_mininav ul {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  align-items: center;
}
.navigation ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.above_nav_social ul {
  gap: 1rem;
  margin-right: 2rem;
}
.above_nav_contact ul {
  gap: 2rem;
}
.above_nav_mininav ul {
  gap: 3rem;
}
.above_nav_social {
  display: flex;
  align-items: center;
}
.above_nav_social ul li,
.above_nav_social ul li a {
  display: flex;
  align-items: center;
}
.logo {
  border-right: 1px solid rgba(200, 200, 200, 0.5);
}
.logo img {
  height: 100%;
}

.on_air_design a {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.index_section_1_container a {
  border: 1px solid white;
}

.index_section_1_container a:hover {
  border: 1px solid var(--gold-color);
  background-color: var(--gold-color);
}
.index_section_1_container video {
  height: auto;
}
.index_section_1_container {
  height: calc(100dvh - 133px);
  overflow: hidden;
}
.index_section_1 {
  font-family: "manrope";
  position: relative;
  color: white;
  background-color: black;
  height: calc(100dvh - 133px);
}
.index_section_1_main {
  background: transparent linear-gradient(0deg, #0000009e 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index_section_1_main div {
  color: var(--gold-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 9.6px;
}
.index_section_1_main p {
  margin-bottom: 4.3rem;
}
.index_section_1_main h1 {
  letter-spacing: -2px;
  font-size: 3.125rem;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.index_section_1_main :is(div, h1, p, a) {
  margin-left: 9rem;
}

.mySwiper_0 .swiper-pagination-bullets {
  left: 6rem;
  top: 37.5% !important;
}
.mySwiper_0 .swiper-pagination-bullet {
  margin-bottom: 1.5rem !important;
  color: white !important;
  opacity: 1;
  background-color: white !important;
}
.mySwiper_0 .swiper-pagination-bullet-active {
  color: var(--gold-color) !important;
}

/* -----------section_1------------- */

.index_section_1_main a {
  border: 1px solid white;
}
.index_section_1 a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
}

.mySwiper_0 .swiper-pagination-bullet {
  width: 0.7rem !important;
  height: 0.7rem !important;
}
.mySwiper_0 .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--gold-color) !important;
  position: relative !important;
}

.mySwiper_0 .swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  top: -7px;
  left: -7px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--gold-color);
}
.index_section_2 {
  margin-bottom: 4.6rem;
}
.index_section_2_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.index_section_2_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section_2_img img {
  width: 100%;
  height: auto;
}
.section_2_img {
  position: relative;
}
.section_2_img::after {
  position: absolute;
  content: "";
  background: transparent linear-gradient(90deg, #ffffff00 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
  z-index: 100;

  inset: 0;
  opacity: 1;
}

.index_section_3 {
  display: flex;
  justify-content: center;
}
.index_section_3_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.index_section_3_container img {
  max-width: 800px;
  width: 100%;
  height: auto;
}

.index_section_2_main {
  font-family: "manrope";
}
.index_section_2_main div {
  color: var(--gold-color);
  font-size: 1rem;
  letter-spacing: 9.6px;
}

.index_section_2_main h2 {
  font-size: 2.125rem;
  letter-spacing: -1.36px;
  margin-bottom: 1.5rem;
}
.index_section_2_main p {
  color: #878787;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
.index_section_2_main a {
  border: 1px solid black;
  margin-top: 3.4rem;
}
.index_section_2_main a:hover {
  background-color: black;
  color: white;
}

.index_section_4 {
  margin-top: 4.5rem;
  font-family: "manrope";
  background: transparent linear-gradient(0deg, #000000 0%, #000000 100%) 0% 0%
    no-repeat padding-box;
}
.index_section_4_pattern {
  position: absolute;
  height: 100%;
  max-height: 830px;
}
.index_section_4_pattern img {
  width: 100%;
  height: 100%;
}
.index_section_4_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.5rem;
}
.index_section_4_intro h3 {
  text-align: center;
  font-size: 2.125rem;
  letter-spacing: -1.36px;
  line-height: 50px;
  color: white;
  font-weight: 400;
  margin-bottom: 4.2rem;
}
.mySwiper_1 .swiper {
  width: 100%;
}
.mySwiper_1 .swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 283px;
  margin-right: 1rem !important;
}
.index_section_4_intro div {
  color: var(--gold-color);
  letter-spacing: 9.6px;
  font-weight: bold;
}
.section_4_button {
  display: flex;
  justify-content: center;
  margin-top: 4.2rem;
  padding-bottom: 3.5rem;
}
.section_4_button a {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  position: relative;
  z-index: 100;
}
.section_4_button a:hover {
  border-color: var(--gold-color);
  background-color: var(--gold-color);
  color: white;
}
.mySwiper_1 .swiper-slide {
  position: relative;
  border-radius: 7px !important;
  border: 1px solid rgba(225, 225, 225, 0.05);
  cursor: pointer;
  z-index: 3;
}

.mySwiper_1 .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 7px !important;
}
.mySwiper_1 .swiper-slide h4 {
  position: absolute;
  bottom: 1.5rem;
  color: white;
  z-index: 1;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all 0.3s ease;
  letter-spacing: -0.4px;
}
.hidden_h4 {
  position: absolute;
  bottom: 1.5rem;
  color: white;
  z-index: 1;
  font-weight: 400;
  letter-spacing: -0.3px;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 0.95rem;
}
.mySwiper_1 .swiper-slide::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 20%;
  width: 100%;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 60%) 0%
    0% no-repeat padding-box;
  border-radius: 7px;
  transition: all 0.3s ease;
}
.mySwiper_1 .swiper-slide:hover h4 {
  transform: translateY(-1.4rem);
}
.mySwiper_1 .swiper-slide:hover .hidden_h4 {
  opacity: 1;
}
.mySwiper_1 .swiper-slide:hover::after {
  height: 40%;
}

/* -------------section_5-------------- */
.index_section_5 {
  padding-bottom: 14rem;
  padding-top: 9.5rem;
  font-family: "manrope";
  display: flex;
  justify-content: center;
}
.index_section_5_intro div {
  color: var(--gold-color);
  font-weight: bold;
}
.index_section_5_intro h5 {
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: normal;
}
.index_section_5_main {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.index_section_5_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;

  place-content: center;
}
.index_section_5_grid .shop_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 300px;
}
.index_section_5_grid .shop_box_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 377px;
  height: 234px;
}
.index_section_5_grid .shop_box:hover {
  box-shadow: 0px 3px 15px #00000029;
}
.index_section_5_grid .shop_box h6 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #151617;
}
.index_section_5_grid .shop_box p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  color: #151617;
  margin-top: 0.4rem;
}
.index_section_5_grid .shop_box span {
  font-weight: bold;
}
.index_section_5_grid .address {
  margin-bottom: 0.2rem;
}

.index_section_5_grid .shop_box img {
  width: 53px;
  height: 55px;
  margin-bottom: 0.5rem;
}

/* ---------section_6--------- */

.section_6_black_stripe {
  height: 500px;
  width: 100%;
  background-color: black;
  position: relative;
}

.index_section_6 {
  overflow: hidden;
  top: 20%;
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  font-family: "manrope";
}

.mySwiper_2 .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  width: 532px;
  height: 372px;
  position: relative;
  border-radius: 7px;
}
.mySwiper_2 .section_6_box_main {
  position: absolute;
  bottom: 0;
  padding-bottom: 1.9rem;
  padding-top: 9rem;
  display: flex;
  align-items: center;
  z-index: 30;
  width: 100%;
  justify-content: space-between;
}

.mySwiper_2 .section_6_box_main ::after {
  width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background: transparent linear-gradient(182deg, #00000000 38%, #000000 100%)
    0% 0% no-repeat padding-box;
  z-index: -1;
  border-radius: 0 0 7px 7px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative !important;
  top: 0 !important;
  margin: 0 !important;
  width: 50px !important;
  height: 50px !important;
  color: white;
  border-radius: 50%;
  border: 1px solid white;
}
.swiper-button-prev::after,
.swiper-rtl,
.swiper-button-next::after {
  font-size: 0.8rem !important;
  font-weight: 900;
  color: white;
}

.section_6_wrapper {
  display: flex;
  justify-content: center;
}
.index_section_6_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons_prev_next {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 1.2rem;
}
.swiper_buttons_wrapper {
  margin-bottom: 1.5rem;
}
.swiper_buttons_wrapper a {
  color: white;
  border: 1px solid white;
}
.section_6_title div {
  color: var(--gold-color);
  font-size: 1rem;
  letter-spacing: 9.6px;
}
.section_6_title h6 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.mySwiper_2 .swiper-slide {
  position: relative;
}
/* .mySwiper_2 .swiper-slide::after {
  width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  background: transparent linear-gradient(182deg, #00000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;
  border-radius: 7px;
} */

.section_6_box_main a {
  border: 1px solid white;
  margin-right: 3rem;
  font-weight: bold;
}
.section_6_box_main a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
}
.section_6_box_title {
  padding-left: 3rem;
}

.section_6_box_title div {
  color: var(--gold-color);
  font-size: 0.8rem;
  letter-spacing: 7.8px;
}

.section_6_box_title p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.mySwiper_2 .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

/* ------------section7--------------- */

.index_section_7 svg {
  fill: black;
}
.index_section_7 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.index_section_7 {
  margin-top: 22rem;
  font-family: "manrope";
  display: flex;
  justify-content: center;
}
.index_section_7_container {
  display: flex;
  gap: 4.3rem;
}
.section_7_intro {
  max-width: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5rem;
}

.section_7_intro div {
  color: var(--gold-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 9.6px;
}
.section_7_intro h6 {
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: -1.36px;
}
.section_7_intro p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #808080;
  line-height: 24px;
}
.section_7_intro a {
  margin-top: 4rem;
  border: 1px solid black;
  font-weight: bold;
}
.section_7_intro a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
  color: white;
}

.section_7_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.section_7_grid_box {
  height: 486px;
  width: 398px;
  border-radius: 7px;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.section_7_grid_box_main {
  padding: 0 0.2rem;
}
.section_7_grid_box_main div {
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.section_7_grid_box_main p {
  color: #808080;
  font-size: 0.875rem;
  line-height: 20px;
  margin-top: 1rem;
}

.section_7_grid_box a {
  font-size: 0.75rem;
  font-weight: bold;
  max-width: 358px;
  width: 100%;
}

.section_7_grid_box_container {
  width: 368px;
}

/* ------------section 8--------------- */
.index_section_8 {
  margin-bottom: 28.8rem;
  font-family: "manrope";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13rem;
  text-align: center;
}
.index_section_8_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.index_section_8_container div:first-child {
  color: var(--gold-color);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 9.6px;
}
.index_section_8_container div:last-child {
  font-size: 2.125rem;
  letter-spacing: -1.36px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.index_section_8 a {
  border: 1px solid black;
  width: 319px;
  margin-top: 4.8rem;
}
.index_section_8 a:hover {
  background-color: var(--gold-color);
  border-color: var(--gold-color);
  color: white;
}

/* ---------section 9----------- */

.index_section_9 {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  top: -13rem;
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: "manrope";
  /* height: 278px; */
  background: transparent linear-gradient(271deg, #ffffffed 0%, #ffffff 100%) 0%
    0% no-repeat padding-box;
}
.index_section_9 .background-img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}
.section_9_right img {
  width: 278px;
  height: 260px;
  border-radius: 5px;
}
.index_section_9_container {
  display: flex;
  border-radius: 5px;

  position: relative;
}

.section_9_left {
  padding: 3.8rem 440px 2.9rem 5.5rem;
  color: black;
}
.section_9_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6.4rem;
  background: transparent url("img/konstantaras_logo.png") 0% 0% no-repeat
    padding-box;
  mix-blend-mode: exclusion;
}

.section_9_left div:first-child {
  color: var(--gold-color);
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 8.4px;
  margin-bottom: 0.2rem;
}
.section_9_left div:nth-child(2) {
  font-size: 2.125rem;
}

.section_9_left p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
.section_9_left a {
  border: 1px solid black;
  margin-top: 2.3rem;
}

/* --------footer---------- */
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "manrope";
  position: relative;
  z-index: 0;
}

.footer_container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding-top: 8.3rem;
}
.footer_grid_top,
.footer_grid_bottom {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
}
.footer_grid_bottom {
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  padding-top: 2rem;
  margin-top: 3.5rem;
  padding-bottom: 5.8rem;
}
.footer_grid_top ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_grid_bottom ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.875rem;
}

.footer_container .column_title {
  color: var(--gold-color);
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.central_facilities {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.06rem;
}
.central_location {
  margin-bottom: 1rem;
  font-size: 0.94rem;
}
.footer_footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer_footer .copyright {
  font-weight: bold;
  font-size: 0.8rem;
}
.footer_footer_right .designed_by {
  font-size: 0.8rem;
  font-weight: bold;
}
.newsletter_column .column_title {
  margin: 0;
}
.newsletter_column p {
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.newsletter_column {
  display: flex;
  flex-direction: column;
}

.newsletter_column input {
  width: 372px;
  padding: 0.5rem;
  background-color: black;
  color: rgba(200, 200, 200, 0.5);
  border: none;
  border-bottom: 1px solid rgba(240, 240, 240, 0.8);
  margin-bottom: 3rem;
  padding-left: 1.8rem;
}
.newsletter_column input::placeholder {
  font-size: 0.8rem;
}
.newsletter_column input:focus {
  color: white;
}

.newsletter_column button {
  width: 139px;
  height: 36px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
}
.newsletter_column button:hover {
  background-color: var(--gold-color);
  border: var(--gold-color);
}

.messenger {
  position: absolute;
  right: 35px;
  bottom: 27px;
}
footer li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.input_icon {
  position: relative;
}
.input_icon svg {
  position: absolute;
  left: 3px;
  top: 8px;
}
.social_column svg {
  width: 21px;
  height: 21px;
}

.mySwiper_0 {
  width: 100%;
  height: 100%;
}
.newsletter_column button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* -------products_section_1---------- */

.products_section_1 {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 380px;
  font-family: "manrope";
  position: absolute;
  width: 100%;
}

.products_section_1_container {
  max-width: 1641px;
  width: 100%;
  padding-left: 0.5rem;
}
.products_section_1_navigation {
  margin-top: 2.6rem;
}
.products_section_1_navigation ul {
  display: flex;
  gap: 0.3rem;
  font-size: 0.94rem;
}
.products_section_1_navigation ul li:nth-child(2) {
  color: var(--gold-color);
}
.products_section_1 h1 {
  color: var(--gold-color);
  font-size: 1.875rem;
  letter-spacing: -1.24px;
  margin-bottom: 2rem;
}
.products_section_1 p {
  font-size: 1.05rem;
  letter-spacing: -0.68px;
}

.products_section_2 {
  font-family: "manrope";
  display: flex;
  justify-content: center;
  margin-top: 16rem;
  margin-bottom: 12rem;
}

.products_section_2_container {
  max-width: 1640px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1rem;
}

.products_section_2_box {
  position: relative;
  width: 537px;
  height: 355px;
  cursor: pointer;
}

.products_section_2_container img {
  width: 100%;
  height: 100%;
}

.products_section_2_box .box_title {
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 3.8rem;
  padding-bottom: 2.8rem;
  border-radius: 0 0 7px 7px;
  width: 100%;
}
.products_section_2_box .box_title h2 {
  font-size: 1.375rem;
  letter-spacing: -0.44px;
  font-weight: 400;
  z-index: 10;
}

.products_section_2_box .box_title::after {
  content: "";
  position: absolute;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 90%) 0%
    0% no-repeat padding-box;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 7px 7px;
  transition: all 0.3s ease;
}
.products_section_2_container .box_title h3 {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 0.875rem;
  bottom: 3rem;
  transition: all 0.3s ease;
  opacity: 0;
  font-weight: 400;
}

.products_section_2_box:hover .box_title h3 {
  bottom: 1.2rem;
  opacity: 1;
}

.products_section_2_box:hover .box_title::after {
  padding-top: 5rem;
}

.products_footer .products_section_1_navigation {
  position: absolute;
  top: 0;
}
